.guesses-container {
  padding-top: 50px;
}
.guesses-table {
  max-height: 50vh;
  overflow-y: scroll;
  text-align: center;
  z-index: -1;
}
.guesses-header {
  border-bottom: 2px solid #005864;
  font-size: 12px;
  vertical-align: text-bottom;
}
