.temp-container {
  display: grid;
  /* font-family: */
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-poeltl {
  background: #005864;
  border: 1px solid #005864;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.btn-poeltl:hover{
  opacity: 85%;
}
